<div class="flex">
  <div class="col-6">
    <div class="card">
      <div class="flex">
        <div [formGroup]="form">
          <div class="grid p-fluid p-dialog-body mt-2">
            <div class="col-12">
              <div class="p-field">
                <span class="p-float-label">
                  <input type="text" pInputText formControlName="title" />
                  <label for="inputtext"
                    >Do homework<span class="text-red"></span
                  ></label>
                </span>
              </div>
            </div>
            <div class="col-12">
              <div class="p-field">
                <span class="p-float-label">
                  <textarea
                    pInputText
                    cols="5"
                    formControlName="description"
                    rows="5"
                  ></textarea>
                  <label for="inputtext"
                    >Description<span class="text-red"></span
                  ></label>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="p-field">
                <span class="p-float-label">
                  <p-calendar
                    [readonlyInput]="false"
                    class="p-inputtext-sm"
                    dateFormat="dd/mm/yy"
                    [showIcon]="true"
                    inputId="icon"
                    formControlName="dueDate"
                    appendTo="body"
                  >
                  </p-calendar>
                  <label for="inputtext"
                    >Due date<span class="text-red">*</span></label
                  >
                </span>
              </div>
            </div>

            <div class="col-6">
              <div class="p-field">
                <span class="p-float-label">
                  <p-dropdown
                    formControlName="piority"
                    [options]="listPrioty"
                    optionLabel="name"
                    optionValue="value"
                    [autoDisplayFirst]="false"
                  ></p-dropdown>
                  <label for="inputtext"
                    >Piority<span class="text-red">*</span></label
                  >
                </span>
              </div>
            </div>
            <div class="col-12">
              <button (click)="save()" class="p-button-success" pButton>
                <span class="text-center">Add</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 border-1">
    <div class="grid">
      <div class="col-12">
        <div class="text-center font-bold text-4xl">ToDo List</div>
        <div class="card p-8">
          <div class="flex">
            <div class="grid">
              <div class="col-12">
                <span class="p-float-label">
                  <input
                    class="p-inputtext-sm"
                    id="float-input"
                    type="text"
                    pInputText
                  />
                  <label for="float-input">add new task</label>
                </span>
              </div>
            </div>
          </div>
          <p-table #dt [value]="itemTodo" responsiveLayout="scroll">
            <ng-template pTemplate="header"> </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
              <tr>
                <td>
                  <p-tableCheckbox [value]="item"></p-tableCheckbox>
                </td>
                <td>{{ item.title }}</td>
                <td style="width: 220px" alignFrozen="right" pFrozenColumn>
                  <span class="pointer mr-2">
                    <button pButton (click)="viewDetail(item, true)">
                      Detail
                    </button>
                  </span>
                  <span class="pointer">
                    <button pButton>Remove</button>
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <div class="p-dialog-footer p-0 mt-3">
          <button
            pButton
            label="Done"
            icon="pi pi-check"
            class="p-mr-2"
          ></button>
          <button
            pButton
            label="Remove"
            icon="pi pi-times"
            class="p-button-secondary"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
