<div class="flex">
  <div class="col-6">
    <div class="card">
      <div class="flex">
        <div class="col-4">
          <span class="p-float-label">
            <input
              pInputText
              class="p-inputtext-sm"
              appendTo="body"
              [baseZIndex]="10000"
              [autoZIndex]="false"
              [autoDisplayFirst]="false"
            />
            <label for="float-input">a</label>
          </span>
        </div>
        <p-toolbar styleClass="px-0 pt-0 mt-2">
          <div class="p-toolbar-group-left">
            <p-button (click)="search()" icon="pi pi-search"> </p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="grid">
      <div class="col-12">
        <div class="card">
          <div class="flex">
            <div class="col-5">
              <span class="p-float-label">
                <input
                  class="p-inputtext-sm"
                  id="float-input"
                  type="text"
                  pInputText
                />
                <label for="float-input">add new task</label>
              </span>
            </div>
            <div class="col-1">
              <p-button (click)="search()" icon="pi pi-search"> </p-button>
            </div>
            <div class="col-4 mt-2"></div>
            <div class="col-2">
              <button class="btn-save" pButton label="Lưu"></button>
            </div>
          </div>
          <p-table #dt [value]="itemTodo" responsiveLayout="scroll">
            <ng-template pTemplate="header"> </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
              <tr>
                <td>
                  <p-tableCheckbox [value]="item"></p-tableCheckbox>
                </td>
                <td>{{ i + 1 }}</td>
                <td style="width: 100px" alignFrozen="right" pFrozenColumn>
                  <span class="pointer mr-2">
                    <button pButton>Detail</button>
                  </span>
                  <span class="pointer">
                    <button pButton>Remove</button>
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
